<p><%= link_to 'Idioma Português', '/?locale=pt-BR' %></p>
<p><%= link_to 'English', '/?locale=en' %></p>

<h1>Seja Bem Vindo</h1>
<h2><%= cookies[:locale] %></h2>
<%= t('actual_locale') %>
<p> Hoje é: <%= I18n.l(Date.today) %></p>

<ul>
  <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
  <li>
  <%= link_to "Cadastro de Tipos de Mineração", mining_types_path %>
</li>
</ul>