<h1>Seja Bem Vindo</h1>
<%= locale(I18n.locale) %>
<%= t('hello') %>
<p> Hoje é: <%= I18n.l(Date.today) %></p>

<ul>
  <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
  <li>
  <%= link_to "Cadastro de Tipos de Mineração", mining_types_path %>
</li>
</ul>